* {
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
  }
/* I added styling here to make the visual presentation of this assignment more appealing */ 
/* I also added the media query to better show the responsiveness of SearchBar (SearchBar is always 100% width of the container/div it is placed in)*/

.page-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.container{
    width: 100%;
    height: 80%;
}

@media only screen and (min-width : 768px)
{
    .container{
        width: 60%;
    }
}